<h1><%= @user.username %></h1>
<h3>Hosted events:</h3><%#add the date near each event%>
<ul>
  <% Event.where(host: @user.id).each do |event| %>
    <li>
      <%= link_to event.name, event_path %>
    </li>
  <% end %>
</ul><br>
<h3>He will go to:</h3>
  <ul>
    <% Invited.where(user_id: @user.id).each do |invited| %>
      <li>
        <%= link_to invited.event.name, event_path %>
      </li>
    <% end %>
  </ul><br>
<h3>In the past he went to:</h3><br>
