<h1>Events Homepage</h1>

<h2>Current events</h2>
  <% @event.each do |event| %>
    <% if event.date > Time.now %>
      <ul>
        <li>
          <%= link_to event.name, event_path(id: event.id) %>
        </li>
      </ul>
    <% end %>
  <% end %><br><br>
<h2>Past events</h2>
  <% @event.each do |event| %>
    <% if event.date < Time.now %>
      <ul>
        <li>
          <%= link_to event.name, event_path(id: event.id) %>
        </li>
      </ul>
    <% end %>
  <% end %><br><br>

<%= link_to "Create new event", new_event_path %>

